<div class="comments-list">
  @if (isLoading()) {
    <div class="loading">
      <axl-spinner />
      <p>Cargando comentarios...</p>
    </div>
  } @else {
    @if (flattenedComments.length > 0) {
      @for (comment of flattenedComments; track comment.id_comentario) {
        <div class="comment-wrapper" [ngStyle]="{ 'margin-left': (comment.depth * 32) + 'px' }">
          <app-comment-item
            [comment]="comment"
            [isReply]="comment.parent_id !== null"
            [isLiked]="comment.isLiked!"
            [likeCount]="comment.likeCount!"
            [isAuthenticated]="isAuthenticated"
            (toggleLike)="toggleLike($event)"
            (startReply)="startReply($event)"
          ></app-comment-item>
          @if (replyingTo === comment.id_comentario) {
            <app-comment-form
              [formType]="'reply'"
              [testimonyId]="testimonyId()"
              [parentId]="comment.id_comentario"
              (commentSubmitted)="cancelReply(); loadComments()"
            ></app-comment-form>
          }
          @if ((comment.replies.length || 0) > 0) {
            <div class="replies-toggle">
              <button
                mat-button
                (click)="toggleReplies(comment.id_comentario)"
                class="toggle-replies-btn"
              >
                <mat-icon>{{ expandedReplies[comment.id_comentario] ? 'expand_less' : 'expand_more' }}</mat-icon>
                {{ expandedReplies[comment.id_comentario] ? 'Ocultar' : 'Mostrar' }} respuestas ({{ comment.replies.length }})
              </button>
            </div>
          }
        </div>
      }
    } @else {
      <p>No hay comentarios aún.</p>
    }
  }
</div>