<div class="profile-container">
  <div class="profile-wrapper">
    <mat-card class="profile-card profile-card-hero">
      <mat-card-content class="hero-content">
        <div class="profile-image-container">
          @if(user()?.profile_image !== null || user()?.profile_image !== ""){
          <img
            [ngSrc]="
              user()?.profile_image ??
              imagePreview() ??
              '/assets/images/default-avatar.jpg'
            "
            alt="Profile Image"
            class="profile-image"
            fill
            priority
          />
          } @else {
          <img
            [ngSrc]="imagePreview() || '/assets/images/default-avatar.jpg'"
            alt="Profile Image"
            class="profile-image"
            fill
            priority
          />
          } @if(isEditing()){
          <button
            mat-icon-button
            class="edit-image-btn"
            (click)="fileInput.click()"
            matTooltip="Cambiar imagen"
            [disabled]="isLoading()"
          >
            <mat-icon>edit</mat-icon>
          </button>
          }
          <input
            #fileInput
            type="file"
            accept="image/jpeg,image/png"
            (change)="onFileSelected($event)"
            style="display: none"
          />
        </div>
        <h1 class="profile-name">{{ user()?.nombre || "Usuario" }}</h1>
      </mat-card-content>
    </mat-card>

    <mat-card class="profile-card info-card">
      <mat-card-header>
        <mat-card-title>Información Personal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="profile-info">
            <mat-divider></mat-divider>
            <div class="info-group">
              <label>Nombre</label>
              @if(isEditing()){
              <div class="custom-input">
                <input
                  formControlName="nombre"
                  placeholder="Tu nombre"
                  [ngClass]="{
                    'input-error':
                      profileForm.get('nombre')?.invalid &&
                      profileForm.get('nombre')?.touched
                  }"
                />
                @if(profileForm.get('nombre')?.invalid &&
                profileForm.get('nombre')?.touched){
                <div class="error-message">
                  @if(profileForm.get('nombre')?.hasError('required')){
                  <span>El nombre es requerido</span>
                  } @if(profileForm.get('nombre')?.hasError('minlength')){
                  <span>Mínimo 3 caracteres</span>
                  } @if(profileForm.get('nombre')?.hasError('maxlength')){
                  <span>Máximo 20 caracteres </span>
                  }
                </div>
                }
              </div>

              }@else{
              <span>{{ user()?.nombre || "No disponible" }}</span>
              }
            </div>
            <div class="info-group">
              <label>Email</label>
              <span>{{ user()?.email || "No disponible" }}</span>
            </div>
            <div class="info-group">
              <label>Rol</label>
              <span class="role-badge">{{ getRoleName(user()?.role) }}</span>
            </div>
            <div class="info-group">
              <label>Biografía</label>

              @if(isEditing()){
              <div class="custom-input">
                <textarea
                  formControlName="biografia"
                  placeholder="Cuéntanos sobre ti"
                  rows="4"
                ></textarea>
              </div>
              } @else {
              <span>{{ user()?.biografia || "Sin biografía" }}</span>
              }
            </div>
            @let isTwoFactorEnabled = user()?.two_factor_enabled;
            <div class="info-group">
              <label>2FA</label>
              <span
                [ngClass]="{
                  'two-factor-enabled': isTwoFactorEnabled,
                  'two-factor-disabled': isTwoFactorEnabled
                }"
              >
                {{ isTwoFactorEnabled ? "Activado" : "Desactivado" }}
              </span>
              @if(!isTwoFactorEnabled){
              <button
                mat-raised-button
                color="primary"
                (click)="setup2FA()"
                [disabled]="isLoading()"
              >
                <mat-icon>security</mat-icon>
                {{ isLoading() ? "Cargando..." : "Activar 2FA" }}
              </button>
              }
            </div>
          </div>
          @if(isEditing()){
          <div class="form-actions">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!profileForm.valid || isLoading()"
            >
              <mat-icon>save</mat-icon>
              Guardar Cambios
            </button>
            <button
              mat-button
              type="button"
              (click)="cancelEdit()"
              [disabled]="isLoading()"
            >
              Cancelar
            </button>
          </div>
          }
        </form>
        @if(!isEditing()){
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            (click)="startEdit()"
            [disabled]="isLoading()"
          >
            <mat-icon>edit</mat-icon>
            Editar Perfil
          </button>
        </div>
        }
      </mat-card-content>
    </mat-card>

    <div class="actions-container">
      <button
        mat-raised-button
        color="warn"
        (click)="onLogout()"
        [disabled]="isLoading()"
      >
        <mat-icon>logout</mat-icon>
        Cerrar Sesión
      </button>
    </div>
  </div>
</div>
