<div class="app-container">
  <header class="app-header">
    <app-header />
  </header>

  <main class="app-main">
    <router-outlet />
  </main>

  <footer class="app-footer">
    <button (click)="themeService.toggleTheme()">Change theme</button>
    <app-footer />
  </footer>
</div>
<!--Esto debo ponerlo aqui en este layout dentor del main: -->
<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened [ngClass]="{ 'expanded': isSidenavExpanded }">
    <app-sidenav (toggleSidenav)="onToggleSidenav()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>