<vg-player class="video-player">
  <vg-overlay-play />
  <vg-buffering />
  <vg-controls>
    <vg-play-pause />
    <vg-playback-button />
    <vg-time-display vgProperty="current" vgFormat="mm:ss" />
    <vg-scrub-bar>
      <vg-scrub-bar-current-time />
      <vg-scrub-bar-buffering-time />
    </vg-scrub-bar>
    <vg-time-display vgProperty="left" vgFormat="mm:ss" />
    <vg-time-display vgProperty="total" vgFormat="mm:ss" />
    <vg-mute />
    <vg-volume />
    <vg-fullscreen />
  </vg-controls>
  <video
    [vgMedia]="$any(media)"
    #media
    id="singleVideo"
    preload="auto"
    crossorigin
    class="video-element"
    loading="lazy"
  >
    <source [src]="videoUrl()" type="video/mp4" />
  </video>
</vg-player>