<div class="home-container">
  <app-hero-section />
  <section class="feed-section">
    <h2>Testimonios Destacados</h2>
    <div class="highlighted-feed">
      @if (loading()) {
      <div class="loading">
        <axl-spinner />
        <p>Cargando testimonios...</p>
      </div>
      } @else if (highlightedTestimonies().length > 0) {
      <h4>Testimonios mejor calificados</h4>
      <swiper-container
        class="carousel"
        navigation="true"
        pagination="true"
        slides-per-view="1"
        space-between="16"
        touch-events-target="container"
        grab-cursor="true"
        loop="true"
        autoplay='{"delay": 5000, "disableOnInteraction": false}'
        breakpoints='{"768": {"slidesPerView": 2}, "1024": {"slidesPerView": 3}}'
      >
        @for (testimony of highlightedTestimonies(); track testimony.id) {
        <swiper-slide>
          <app-testimony [testimony]="testimony" />
        </swiper-slide>
        }
      </swiper-container>
      } @else {
      <p>No hay testimonios destacados disponibles.</p>
      }
    </div>
  </section>
</div>