<form
  class="{{ formType }}-form"
  (ngSubmit)="submit()"
  >
  <div class="input-container">
    <input
      type="text"
      [id]="formType + '-' + (parentId || 'new')"
      name="content"
      [(ngModel)]="content"
      required
      minlength="2"
      maxlength="500"
      placeholder=" "
      />
      <label [for]="formType + '-' + (parentId || 'new')" class="label">
        Escribe un {{ formType === 'comment' ? 'comentario' : 'respuesta' }}
      </label>
      <div class="underline"></div>
      @if (formErrors['content']) {
        <div class="error-message">
          Mínimo 2 caracteres
        </div>
      }
    </div>
    @if (content && content.length >= 2) {
      <div class="form-buttons">
        <button mat-button type="button" class="btn-cancel" (click)="cancel()">
          Cancelar
        </button>
        <button
          mat-raised-button
          type="submit"
          class="btn-comment"
          [disabled]="!content || content.length < 2"
          >
          {{ formType === 'comment' ? 'Comentar' : 'Responder' }}
        </button>
      </div>
    }
  </form>