:host {
  --accent: #4ade80; 
  --accent-dark: #22c55e;
  --text: #000;
  --border: #e0e0e0;

  :root.dark-mode & {
    --text: #fff;
    --border: #555;
    --accent: #4ade80; 
    --accent-dark: #22c55e;
  }
}

