<div class="comment" [ngClass]="{ reply: isReply }">
  <div class="comment-header">
    <img
      *ngIf="comment.usuarios.profile_image"
      [src]="comment.usuarios.profile_image"
      alt="Avatar"
      class="avatar"
    />
    <div class="user-info">
      <span class="username" [ngClass]="getRoleClass(comment.usuarios.rol.nombre)">
        {{ comment.usuarios.nombre }}
      </span>
      <span class="role">{{ comment.usuarios.rol.nombre }}</span>
    </div>
    <span class="comment-date">{{ comment.fecha_creacion | date: 'medium' }}</span>
  </div>
  
  <p class="comment-content">{{ comment.contenido }}</p>
  
  <div class="comment-actions">
    <button
      mat-icon-button
      (click)="toggleLike.emit(comment.id_comentario)"
      [disabled]="!isAuthenticated"
      [matTooltip]="isLiked ? 'Quitar me gusta' : 'Me gusta'"
    >
      <mat-icon>{{ isLiked ? 'thumb_up' : 'thumb_up_off_alt' }}</mat-icon>
      {{ likeCount }}
    </button>
    
    <button
      mat-button
      (click)="startReply.emit(comment.id_comentario)"
      [disabled]="!isAuthenticated"
      matTooltip="Responder"
    >
      Responder
    </button>
  </div>
</div>