<div class="comment" [ngClass]="{ reply: isReply }">
  <div class="comment-header">
    <div class="avatar-container">
      <img [src]="comment().usuarios.profile_image || '/assets/images/default-avatar.jpg'"
        alt="Avatar de {{ comment().usuarios.nombre }}" class="avatar" />
    </div>
    <div class="user-info">
      <span class="username" [ngClass]="getRoleClass(comment().usuarios.rol.nombre)">
        {{ comment().usuarios.nombre }}
      </span>
      <span class="role" [ngClass]="getRoleClass(comment().usuarios.rol.nombre)">
        {{ comment().usuarios.rol.nombre | titlecase }}
      </span>
    </div>
    <span class="comment-date">{{ comment().fecha_creacion | date: 'short' }}</span>
  </div>

  <p class="comment-content">{{ comment().contenido }}</p>

  <div class="comment-actions">
    <button mat-icon-button (click)="toggleLike.emit(comment().id_comentario)" [disabled]="!isAuthenticated()"
      [matTooltip]="isLiked() ? 'Quitar me gusta' : 'Me gusta'" class="like-button">
      <mat-icon [ngClass]="{ liked: isLiked }">
        {{ isLiked() ? 'thumb_up' : 'thumb_up_off_alt' }}
      </mat-icon>
      @if(likeCount() > 0){
      <span class="like-count">{{ formatLikeCount(likeCount()) }}</span>
      }
    </button>

    <button mat-button (click)="startReply.emit(comment().id_comentario)" [disabled]="!isAuthenticated()"
      matTooltip="Responder" class="reply-button">
      <mat-icon>reply</mat-icon>
      Responder
    </button>
    @if((comment().replies.length || 0) > 0){
    <button mat-icon-button (click)="toggleReplies.emit(comment().id_comentario)"
      matTooltip="{{ expanded() ? 'Ocultar' : 'Mostrar' }} respuestas" class="replies-toggle-button">
      <mat-icon>{{ expanded() ? 'expand_less' : 'expand_more' }}</mat-icon>
      <span class="replies-count">{{ comment().replies.length }}</span>
    </button>
    }

  </div>
</div>